{% extends "template.html" %}

{% block buttons %}

<li class="nav-item">
  <a href="{{ url_for('root') }}" class="nav-link">Home</a>
</li>

{% endblock %}

{% block body %}
<div class="container" style="text-align:center;">
  <br><br><br>
  {% for x in t %}
  <div class="row">
    <div class="col" style="text-align:center;">
  <form action="/battle" method="GET">
    <input type="hidden" name="id" value="{{x[0]}}">
  <button class="btn btn-info" type="+">{{x[1]}}</button> <br> <br>
  </form>
</div>


</div>
  {% endfor %}


</div>

{% endblock %}
