{% extends "template.html" %}


{% block css %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<style>
  .container {
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    background-color:#6666ff;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-radius: 25px;
    opacity: 0.9;
    margin:0;
    width: 50%;
  }

</style>
{% endblock %}

{% block buttons %}

<!-- <li class="nav-item">
  <a href="{{ url_for('root') }}" class="nav-link">Home</a>
</li> -->
<li>
   <a href="{{ url_for('root') }}" class="nav-link">Go back</a>
 </li>
<li class="nav-item">
  <a href="{{ url_for('logout') }}" class="nav-link">Logout</a>
</li>

{% endblock %}

{% block body %}

{% for message in get_flashed_messages() %}
<br><br>
<center><b>{{message}}</b></center>
{% endfor %}

<div class="container" style="text-align:center;">
  Choose Your Team
  <br><br>
  {% for x in t %}
  <div class="row">
    <div class="col" style="text-align:center;">
  <form action="/battle" method="GET">
    <input type="hidden" name="id" value="{{x[0]}}">
  <button class="btn btn-outline-light btn-rounded waves-effect btn-block" type="+">{{x[1]}}</button> <br> <br>
  </form>
</div>


</div>
  {% endfor %}

</div>
  <!-- <a href="{{ url_for('root') }}" class="previous">&laquo; Go back</a> -->
{% endblock %}
