{% extends "template.html" %}

{% block buttons %}
{% if sessionstatus %}

<li class="nav-item">
  <a href="{{ url_for('logout') }}" class="nav-link">Logout</a>
</li>
{% else %}
<li class="nav-item">
  <a href="{{ url_for('login') }}" class="nav-link">Login</a>
</li>

<li class="nav-item">
  <a href="{{ url_for('register') }}" class="nav-link">Register</a>
</li>
{% endif %}
{% endblock %}

{% block body %}
<a href="{{ url_for('root') }}" class="nav-link" style="color: black; padding: 0px;">
<div class="jumbotron text-center" style="background-color: transparent; border-radius: 0; margin-top:-16px; opacity: 0.7;">
  <h1 style ="color: black; font-size: 80px;">Showdown Factory</h1>
</div>
</a>

{% if sessionstatus %}
<div class="container">
<div class="buttons" style="height:100%;  ">
<div class="row">
  <div class="col-sm">
<form class="active-cyan-3 active-cyan-4" action="/chooseteam" style="text-align: center; margin-bottom: 50px;">
  <button class="btn btn-outline-success btn-rounded waves-effect btn-block" type="submit">Battle</button>
</form>
</div>
<div class="col-sm">
<form class="active-cyan-3 active-cyan-4" action="/teams" style="text-align: center; margin-bottom: 50px;">
  <button class="btn btn-outline-primary btn-rounded waves-effect btn-block" type="submit">Teambuilder</button>
</form>
</div>
<div class="col-sm">
<form class="active-cyan-3 active-cyan-4" action="/directions" style="text-align: center; margin-bottom: 50px;">
  <button class="btn btn-outline-info btn-rounded waves-effect btn-block" type="submit">How to play</button>
</form>
</div>
</div>
</div>
<!-- <div class = "row">
  <form class="active-cyan-3 active-cyan-4" action="/chooseteam" style="text-align: right; margin-bottom: 50px;">
  <button type="button" class="btn btn-secondary">Secondary</button>
  </form>
  </div> -->
</div>

{% for message in get_flashed_messages() %}
<br>
<center>{{ message }}</center>
{% endfor %}

{% block searchresults %}
{% endblock %}

{% else %}
<center>
<a href="{{ url_for('login') }}"><button type="button" class="btn btn-info">Log In</button></a>
<br><br>
<p>Don't have an account? <a href="{{ url_for('register') }}">Register here.</a></p>
</center>

<br><br><br>

{% endif %}

{% endblock %}
