<!DOCTYPE html>
{% extends "template.html" %}

{% block title %} | Register{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<style>
  .box {
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
  }
  .form-control {
    width: 200px;
    margin: auto;
    text-align: center;
    transition:.25s;
  }
  .form-control:focus {
    width: 280px;
  }
</style>
{% endblock %}

{% block buttons %}
<li class="nav-item">
  <a href="{{ url_for('root') }}" class="nav-link">Home</a>
</li>

<li class="nav-item">
  <a href="{{ url_for('login') }}" class="nav-link">Login</a>
</li>
{% endblock %}

{% block body %}

{% if msg %}
<h3>{{ msg }}</h3>
{% endif %}

<center>
  <br>
  {% for message in get_flashed_messages() %}
  <center><b>{{ message }}</b></center>
  {% endfor %}
<form class="box" action="/register" method="GET" align="center">
	Username
	<input class="form-control" type="text" name="username" placeholder="Username"><br>
	Password
	<input class="form-control" type="password" name="password" placeholder="Password"><br>
	Confirm Password
	<input class="form-control" type="password" name="confirmPass" placeholder="Confirm Password"><br>
	<button class="btn btn-success" type="submit">Register</button>
</form>
<br><br><br>
</center>



{% endblock %}
