<!DOCTYPE html>
{% extends "template.html" %}

{% block css %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<style>
  .container {
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    background-color: #fdfbfb;
    opacity: .9;
    width:50%;
    padding: 20px;
    border-radius: 25px;
  }
  .form-control {
    width: 200px;
    margin: auto;
    text-align: center;
    transition:.25s;
  }
  .form-control:focus {
    width: 280px;
  }
</style>
{% endblock %}

{% block title %} | Login{% endblock %}

{% block buttons %}
<!-- <li class="nav-item">
  <a href="{{ url_for('root') }}" class="nav-link">Home</a>
</li> -->
<li>
   <a href="{{ url_for('root') }}" class="nav-link">Go back</a>
 </li>
<li class="nav-item">
    <a href="{{ url_for('logout') }}" class="nav-link">Logout</a>
</li>


{% endblock %}

{% block body %}

{% if msg %}
<h3>{{ msg }}</h3>
{% endif %}

<div class="container" style="text-align:center;">
  <div class = "row">
    <div class="col">
  <form action="/teambuilder" method="GET">
  	<button class="btn btn-outline-success btn-rounded waves-effect btn-block" type="+"> &#8853; New Team</button>
  </form>
</div>
</div>
  <br><br>
  {% for x in t %}
  <div class="row">
    <div class="col-8" style="text-align:center;">
  <form action="/teambuilder" method="GET">
    <input type="hidden" name="id" value="{{x[0]}}">
    <input type="hidden" name="teamname" value="{{x[1]}}">
  {% for y in x[2:] %}
    <input type="hidden" name="p{{loop.index}}" value="{{y[0]}}">
    <input type="hidden" name="a{{loop.index}}" value="{{y[1]}}">
    <input type="hidden" name="m0{{loop.index}}" value="{{y[2]}}">
    <input type="hidden" name="m1{{loop.index}}" value="{{y[3]}}">
    <input type="hidden" name="m2{{loop.index}}" value="{{y[4]}}">
    <input type="hidden" name="m3{{loop.index}}" value="{{y[5]}}">
    <input type="hidden" name="g{{loop.index}}" value="{{y[6]}}">
    <input type="hidden" name="h{{loop.index}}" value="{{y[7]}}">
    <input type="hidden" name="hp{{loop.index}}" value="{{y[8]}}">
    <input type="hidden" name="atk{{loop.index}}" value="{{y[9]}}">
    <input type="hidden" name="def{{loop.index}}" value="{{y[10]}}">
    <input type="hidden" name="spa{{loop.index}}" value="{{y[11]}}">
    <input type="hidden" name="spd{{loop.index}}" value="{{y[12]}}">
    <input type="hidden" name="spe{{loop.index}}" value="{{y[13]}}">
  {% endfor %}
  <button class="btn btn-outline-primary btn-rounded waves-effect btn-block" type="+">{{x[1]}}</button> <br> <br>
  </form>
</div>
<div class="col-4" style="text-align:center;">
<form action="/teamProcess" method="GET">
  <input type="hidden" name="rid" value="{{x[0]}}">
  <button class="btn btn-outline-danger btn-rounded waves-effect btn-block" type="+">Remove</button>
</form>
</div>

</div>
  {% endfor %}


</div>

{% for message in get_flashed_messages() %}
<br><br>
<center><b>{{ message }}</b></center>
{% endfor %}
{% endblock %}
