<!DOCTYPE html>
{% extends "template.html" %}

{% block css %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<style>
  .container {
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
  }
  .form-control {
    width: 200px;
    margin: auto;
    text-align: center;
    transition:.25s;
  }
  .form-control:focus {
    width: 280px;
  }
</style>
{% endblock %}

{% block title %} | Login{% endblock %}

{% block buttons %}
<li class="nav-item">
  <a href="{{ url_for('root') }}" class="nav-link">Home</a>
</li>

{% endblock %}

{% block body %}

{% if msg %}
<h3>{{ msg }}</h3>
{% endif %}
<div id="page-container" style="position: relative; min-height: 100vh;">
<div id="content-wrap" style="padding-bottom: 2.5rem;">
<form action="/teams" method="GET">
<center><b>Team Name: </b><input name="teamname" id="teamname" autocomplete="off" style="font-size:16px;" value="Untitled"></center>
<hr>
{% for i in range(6) %}
<div class="container-fluid" >
          <div class="row" style="width:100%">
            <div class="col-2">
              <div style="margin: 5px;">
                <h4 style="font-size:16px;">
                  <b>Pokemon</b>
                  <input name="pokemon_{{i}}" id="pokemon_{{i}}" list="mons" autocomplete="off" style="width:100%; font-size:16px;" placeholder="Choose a Pokemon">
                  <br><br><b>Ability</b>
                  <select name="ability_{{i}}" id="ability_{{i}}" style="width:100%; font-size:16px;"> </select>
                </h4>
                <center>
                <div id="pic_{{i}}">
                  <!-- This is where the sprite appears -->
                </div>
                <div id="types_{{i}}">
                  <!-- This is where the types appear -->
                </div>
                </center>
              </div>
            </div>
            <div class="col-1" style="width:100%;">
              <div class="row"><b>Moves</b></div>
              {% for x in range(4) %}
                <div class="row" style="padding-bottom:10px;">
                  <input name="move{{i}}{{x}}" id="move{{i}}{{x}}" list="moves{{i}}" style="width:100%; font-size:12px;" autocomplete="off">
                </div>
              {% endfor %}
            </div>
            <div class="col-4" style="margin-top:24px;">
              {% for x in range(4) %}
                <p id="moveDesc{{i}}{{x}}" style="font-size:12px; height:30px; margin-bottom:4px;">
                </p>
              {% endfor %}
            </div>
            <span class="border"></span>
            <div class="col-1" style="text-align: center; padding:0;">
              <b>Gender</b>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gender_{{i}}" id="genderM_{{i}}" value="male" checked>
                <label class="form-check-label" for="gender_{{i}}">
                  Male
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gender_{{i}}" id="genderF_{{i}}" value="female">
                <label class="form-check-label" for="gender_{{i}}">
                  Female
                </label>
              </div><br>
              <b>Happiness</b><br>
              <input name="happiness_{{i}}" type="number" id="happiness_{{i}}" value="255" min="0" max="255" step="1" style="width:65px"/>
            </div>
            <span class="border"></span>
            <div class="col" style="">
              {% for x in range(6) %}
              <!-- row_stat (0 = hp, 1 = atk, 2 = def, 3 = spa, 4 = spd, 5 = spe) -->
              <div class="row">
              <div class="col-3" style="">
              {% if x == 0 %} <b>HP</b> {% endif %}
              {% if x == 1 %} <b>Attack</b> {% endif %}
              {% if x == 2 %} <b>Defense</b> {% endif %}
              {% if x == 3 %} <b>Sp. Atk.</b> {% endif %}
              {% if x == 4 %} <b>Sp. Def.</b> {% endif %}
              {% if x == 5 %} <b>Speed</b> {% endif %}
            </div>
            <div class="col-1" style="">
              <p id="stat_{{i}}{{x}}" style="display:inline-block"><br></p>
            </div>
            <div class="col">
              <input type="number" name="points_{{i}}{{x}}" step="4" min="0" max="252" autocomplete="off" value="0" id="slider_{{i}}{{x}}" style="width:100%;">
              <br>
              </div>
              <div class="col-1" style="">
                <p id="realStat_{{i}}{{x}}" style="display:inline-block"><br></p>
              </div>
            </div>

              {% endfor %}

              <b>Remaining Points:</b>
              <p id="rem{{i}}" style="display:inline-block">508</p>
          </div>
          </div>
        </div>
        <hr>
{% endfor %}
<center>
<button class="btn btn-primary" type="submit">Save</button>
</center>
<br><br>
</form>

<datalist id="mons">
{% for x in mons %}
<option id="{{x[1]}}">{{x[1]}}</option>
{% endfor %}
</datalist>
<datalist id="moves0"></datalist>
<datalist id="moves1"></datalist>
<datalist id="moves2"></datalist>
<datalist id="moves3"></datalist>
<datalist id="moves4"></datalist>
<datalist id="moves5"></datalist>

<ul id="types">
  {% for x in mons %}
  <li style="display:none;" id="types_{{x[1]}}">{{x[2]}},{{x[3]}}</li>
  {% endfor %}
</ul>
<ul id="moves">
  {% for x in mons %}
  <li style="display:none;" id="moves_{{x[1]}}">{{x[12]}}</li>
  {% endfor %}
</ul>
<ul id="moveDescs">
  {% for x in moves %}
  <li style="display:none;" id="moveDescs_{{x[1]}}">{{x[1]}},{{x[2]}},{{x[3]}},{{x[4]}},{{x[6]}},{{x[8]}},{{x[10]}},{{x[16]}},{{x[14]}},{{x[21]}}</li>
  {% endfor %}
</ul>
<ul id="abils">
  {% for x in mons %}
  <li style="display:none;">{{x[13]}}</li>
  {% endfor %}
</ul>
<ul id="stats">
  {% for x in mons %}
  <li style="display:none;">{{x[6]}},{{x[7]}},{{x[8]}},{{x[9]}},{{x[10]}},{{x[11]}}</li>
  {% endfor %}
</ul>

<script src={{url_for('static', filename='teambuilder.js')}}></script>

{% for message in get_flashed_messages() %}
<br><br>
<center><b>{{ message }}</b></center>
{% endfor %}

{% endblock %}

</div>

</div>
