<!DOCTYPE html>
{% extends "template.html" %}

{% block css %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<style>
  .container {
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
  }
  .form-control {
    width: 200px;
    margin: auto;
    text-align: center;
    transition:.25s;
  }
  .form-control:focus {
    width: 280px;
  }
</style>
{% endblock %}

{% block title %} | Login{% endblock %}

{% block buttons %}
<li class="nav-item">
  <a href="{{ url_for('root') }}" class="nav-link">Home</a>
</li>

{% endblock %}

{% block body %}

{% if msg %}
<h3>{{ msg }}</h3>
{% endif %}
<div id="page-container" style="position: relative; min-height: 100vh;">
<div id="content-wrap" style="padding-bottom: 2.5rem;">
<form action="/teams" method="GET">
{% for i in range(6) %}
<div class="container-fluid" >
          <div class="row" style="width:100%">
            <div class="col-2">
              <div style="margin: 10px;">
                <h4>
                  <input name="pokemon_{{i}}" id="pokemon_{{i}}" list="mons" autocomplete="off">
                  <select name="ability_{{i}}" id="ability_{{i}}"> </select>
                </h4>
                <center>
                <div id="pic_{{i}}">
                  <!-- This is where the sprite appears -->
                </div>
                </center>
              </div>
            </div>
            <div class="col-2" style="text-align: center">
              {% for x in range(4) %}
                <div class="row">
                  <input name="move_{{i}}_{{x}}" id="move_{{i}}_{{x}}" list="moves">
                </div>
              {% endfor %}
            </div>
            <div class="col-2" style="text-align: center">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gender_{{i}}" id="gender_{{i}}" value="male" checked>
                <label class="form-check-label" for="gender_{{i}}">
                  Male
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gender_{{i}}" id="gender_{{i}}" value="female">
                <label class="form-check-label" for="gender_{{i}}">
                  Female
                </label>
              </div>
              <input name="happiness_{{i}}" type="number" id="happiness_{{i}}" value="255" min="0" max="255" step="1"/>
            </div>
            <div class="col" style="">
              {% for x in range(6) %}
              <!-- row_stat (0 = hp, 1 = atk, 2 = def, 3 = spa, 4 = spd, 5 = spe) -->
              <div class="row">
              <div class="col-2" style="">
              {% if x == 0 %} HP: {% endif %}
              {% if x == 1 %} Attack: {% endif %}
              {% if x == 2 %} Defense: {% endif %}
              {% if x == 3 %} Sp. Atk.: {% endif %}
              {% if x == 4 %} Sp. Def.: {% endif %}
              {% if x == 5 %} Speed: {% endif %}
            </div>
            <div class="col-1" style="">
              <p id="stat_{{i}}{{x}}" style="display:inline-block"><br></p>
            </div>
            <div class="col-3" style="">
              <input type="number" name="points_{{i}}{{x}}" step="4" min="0" max="252" value="0" id="slider_{{i}}{{x}}">
              <br>
              </div>
              <div class="col-1" style="">
                <p id="realStat_{{i}}{{x}}" style="display:inline-block"><br></p>
              </div>
            </div>

              {% endfor %}

              Remaining Points:
              <p id="rem{{i}}" style="display:inline-block">508</p>
          </div>
          </div>
        </div>
        <hr>
{% endfor %}
<center>
<button class="btn btn-primary" type="submit">Save</button>
</center>
<br><br>
</form>

<datalist id="mons">
{% for x in mons %}
<option id="{{x[1]}}">{{x[1]}}</option>
{% endfor %}
</datalist>

<ul id="abils">
  {% for x in mons %}
  <li style="display:none;">{{x[13]}}</li>
  {% endfor %}
</ul>
<ul id="stats">
  {% for x in mons %}
  <li style="display:none;">{{x[6]}},{{x[7]}},{{x[8]}},{{x[9]}},{{x[10]}},{{x[11]}}</li>
  {% endfor %}
</ul>

<script src={{url_for('static', filename='teambuilder.js')}}></script>

{% for message in get_flashed_messages() %}
<br><br>
<center><b>{{ message }}</b></center>
{% endfor %}

{% endblock %}

</div>

</div>
